{% extends "base.html" %}

{% block content %}


<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Login</h1>
            <hr>

            {% if messages %}
        
              <div class="alert alert-primary" role="alert">
                  {% for message in messages %}
                      {{ message }}
                  {% endfor %}
              </div>
              
            {% endif %}

           
            <div class="mb-3">
              <label for="exampleInputusername" class="form-label">Username</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <p>Dont have an account? <a href="/register/">Register</a></p>

    </form>
</div>


{% endblock %}