{% extends "base.html" %}

{% block content %}


<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Update Receipe</h1>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recepie Name</label>
          <input type="text" class="form-control" name="receipe_name" value = "{{receipe.receipe_name}}" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recepie Description</label>
          <textarea class="form-control" name="receipe_discription" required> {{receipe.receipe_discription}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Recepie Image</label>
            <input type="file" class="form-control" name="receipe_image">
        </div>
        <button type="submit" class="btn btn-success">Add Receipe</button>
      </form>
      <br>
</div>


{% endblock %}